[submodule ".config/omz_custom/plugins/zsh-syntax-highlighting"]
	path = .config/omz_custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".config/ranger/plugins/ranger_devicons"]
	path = .config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
[submodule ".config/cheat/cheatsheets/community"]
	path = .config/cheat/cheatsheets/community
	url = https://github.com/cheat/cheatsheets.git
[submodule ".config/oh-my-bash"]
	path = .config/oh-my-bash
	url = https://github.com/ohmybash/oh-my-bash.git
[submodule ".config/oh-my-zsh"]
	path = .config/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule ".local/share/nb/home"]
	path = .local/share/nb/home
	url = https://github.com/pgierz/notes.git
	branch = home
[submodule ".local/share/nb/pauls_dotfile_guide"]
	path = .local/share/nb/pauls_dotfile_guide
	url = https://github.com/pgierz/dots_docs.git
[submodule ".local/share/password-store"]
	path = .local/share/password-store
	url = https://github.com/pgierz/pass.git
[submodule ".config/kitty/catpuccin"]
	path = .config/kitty/catpuccin
	url = https://github.com/catppuccin/kitty.git
[submodule ".config/tmux/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule ".config/bat/themes/bat"]
	path = .config/bat/themes/bat
	url = https://github.com/catppuccin/bat.git
